@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Prueba técnica</h1>
    <p class="lead">Creado por Felipe Jaramillo Gómez</p>
    @Html.ActionLink("Catálogos", "Index", "Catalogo")
</div>

